body {
    margin: 0;
}

header {
    font-family:monospace;
    background: #D6E6FF;
    border-bottom:1px solid #000;   
    margin-bottom:1em;
}

header h1 {
    margin:0;
    padding: .5em;
}

nav ul {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 1em;
    background:#eee;
    border: 1px solid #000;
}

nav ul li {
    color: #00e;
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px dotted #000;
	font-weight: bold;
    font-size: .9em;
}

nav ul li:last-child {
    border-bottom: none;
}

nav a {
    color: #000;
    font-weight:normal;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#content {
    float:left;
    margin-left:3em;
    padding: 0 1em 1em;
    width: 40em;
}

#content h1 {
    margin:0 0 1em;
    line-height:1;
    font-size:1.3em;
}

.success {
    color: green;
}

.failure {
    color: maroon;
}
