body {
    margin: 0;
    font-family:sans-serif;
}

header {
    font-family:monospace;
    background: #D6E6FF;
    border-bottom:1px solid #000;   
    margin-bottom:1em;
}

header h1 {
    margin:0;
    padding: .5em;
}

nav {
    background:#eee;
    border: 1px solid #000;
    float: left;
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
}

nav a {
    border-bottom: 1px dotted #000;
    color: #000;
    display:block;
    font-weight:normal;
	font-size: .9em;
	padding: 5px;
	text-decoration: none;
}

nav a:last-child {
    border-bottom: none;
}

nav a:hover {
    text-decoration: underline;
}

#content {
    float:left;
    margin-left:3em;
    padding: 0 1em 1em;
    width: 40em;
}

#content h1 {
    margin:0 0 1em;
    font-size:1.4em;
}

.success {
    color: green;
}

.failure {
    color: maroon;
}

.success, .failure {
    font-weight:bold;
    font-size:1.2em;
}
