<!DOCTYPE html>
<html>
<head>
    <title>Training Wheels - {{ title }}</title>   
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
</head>
<body>
    <header>
        <h1>&#x2638; Training Wheels &#x2638;</h1>
    </header>
    <nav>
        <ul>
        {% for i, level in levels %}
            <li><a href="/level/{{ i }}/">{{ level.name }}</a></li>
        {% endfor %}
        </ul>
    </nav>
    
    <div id="content">
        <h1>{{ title }}</h1>
        
        <div id="instructions">
            {% block instructions %}{% endblock %}
        </div>
        
        <div id="exercise">
            {% block exercise %}{% endblock %}
        </div>
    </div>
</body>
</html>
