<!DOCTYPE html>
<html>
<head>
    <title>Training Wheels - {{ title }}</title>   
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
</head>
<body>
    <header>
        <h1>&#x2638; Training Wheels &#x2638;</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/password-source">Password in page source</a></li>
            <li><a href="/xss-form">Script injection in a form</a></li>
            <li><a href="/xss-query?name=foo">XSS in a query parameter</a></li>
            <li><a href="/xss-attr?color=blue">XSS in an attribute</a></li>
            <li><a href="/sqli-select">SQL SELECT injection</a></li>
            <li><a href="/sqli-insert">SQL INSERT injection</a></li>
        </ul>
    </nav>
    
    <div id="content">
        <h1>{{ title }}</h1>
        
        <div id="instructions">
            {% block instructions %}{% endblock %}
        </div>
        
        <script src="/static/jquery.min.js"></script>
        <script src="/static/exercise-util.js"></script>
        
        <div id="exercise">
            <h2>Your Turn</h2>
            {% block exercise %}{% endblock %}
        </div>
        
        <div id="result"></div>
    </div>
</body>
</html>
