{% extends 'base.html' %}

{% block instructions %}
<p>A web page's source code often contains useful information. Use your
browser's <em>View Source</em> feature to find a secret code, then enter
it below.</p>
{% endblock %}


{% block exercise %}
<form id="entry">
    <label for="password">Enter the password: </label>
    <input name="password" type="password">
    <input type="submit" value="Onward!">
</form>

<script src="/static/jquery.min.js"></script>
<script src="/static/exercise-util.js"></script>
<script>
    // Look here!
    var password = '$Up3r$3cR3t';
    
    $('#entry').submit(function() {
        var input = $(this).find('input[type=password]').val();
        evaluateSuccess(input === password);
        return false;
    });
</script>
{% endblock %}
