{% extends 'base.html' %}

{% block instructions %}

{% endblock %}


{% block exercise %}
<form id="entry">
    <label for="password">Enter the password: </label>
    <input name="password" type="password">
    <input type="submit" value="Onward!">
</form>

<div id="result"></div>

<script src="/static/jquery.min.js"></script>
<script>
    // Look here!
    var password = '$Up3r$3cR3t';
    
    $('#entry').submit(function() {
        var input = $(this).find('input[type=password]').val();
        if (input == password) {
            var result = $('<p>Success!</p>').addClass('success');
        }
        else {
            var result = $('<p>Keep trying!</p>').addClass('failure');
        }
        $('#result').html(result);
        return false;
    });
</script>
{% endblock %}
