{% extends 'base.html' %}
{% block exercise %}

<form id="user-input">
    <input type="text" value="red">
</form>

<div id="output"></div>

<script src="/static/jquery.min.js"></script>
<!-- "><script>alert(1)</script><p class=" -->
<script>
    
    function setColor(value) {
        $('#output').html('<p style="color:' + value + '">Hi!</p>');
    }
    
    $('#user-input input').keyup(function () {
        var value = $(this).val();
        setColor(value);
    });
    
    $('#user-input').submit(function () {
        var value = $(this).find('input').val();
        setColor(value);
        return false;
    });
    
    $('#user-input').submit();
</script>

{% endblock %}
