{% extends 'base.html' %}
{% set title = 'XSS in an attribute' %}

{% block instructions %}
<p>Here's a slightly harder XSS exercise.</p>
<p>Inject a &lt;script&gt; tag into the page using the <em>color</em>
    URL parameter.</p>
{% endblock %}


{% block exercise %}

<script>
    $(document).ready(function() {
        var scriptPresent = $('#output script').length > 0;
        evaluateSuccess(scriptPresent);
    });
</script>

<div id="output" style="color:{{ request.args.color | safe }}">Hello, world!</div>

{% endblock %}
