{% extends 'base.html' %}
{% set title = 'Script injection in a form' %}

{% block exercise %}

<form id="user-input">
    <label for="message">Enter an HTML message: </label>
    <input type="text" name="message" value="<em>Foo</em>">
    <input type="submit" value="Show me!">
</form>

<div id="output"></div>

<button id="next-hint">Next hint</button>
<div id="hint-display"></div>

<script>
    $('#user-input').submit(function () {
        var value = $(this).find('input[type=text]').val();
        $('#output').html(value);
        return false;
    });
    $('#user-input').submit();
    
    
    
    var hints = [
        'HTML tags are written unescaped into the page.',
        '<script> tags execute JavaScript.',
        'Start with <script>alert(1)<\/script>.',
    ];
    var currentHint = 0;
    $('#next-hint').click(function () {
        if (currentHint < hints.length) {
            var hint = hints[currentHint];
            currentHint += 1;
            $('#hint-display').text(hint);
        }        
    });
    
    
    // Taken from http://stackoverflow.com/a/1349426
    function makeID(len) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < len; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }
    
    // Intentionally global "password" variable.
    password = makeID(15);
    
    
</script>

{% endblock %}
